article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



// Utility classes --------------------------
.hide {
	visibility: hidden;
}


// Thumbnails ------------------------------
html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.6;
	font-family: 'Playfair Display', serif;
	background: radial-gradient(ellipse at center, rgba(226, 222, 197, 0) 0%, #E2D6C5 100%); 
}

.wrapper {
	margin: 0 auto;
}

img {
	max-width: 100%;
}

// Thumbnails ---------------------------------
.gallery {
	height: 100vh;
	position: relative;
}

.thmb {
	width: 200px;
	height: 200px;
	position: absolute;

	img {
		border-radius: 50%;
		border: 3px solid white;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
}

.thmb-heart,
.thmb-rosetta {
	left: 5%;
}

.thmb-tulip,
.thmb-swan {
	right: 5%,
}

.thmb-heart,
.thmb-swan {
	top: 5%;
}

.thmb-rosetta,
.thmb-tulip {
	bottom: 5%;
}

// Main content area
.feature {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin:0 auto;
	max-width: 60%;
}

// Site header ---------------------------------
header {
	text-align: center;
	position: absolute;
	top: -40px;
	width: 100%;
	z-index: -10;
	
	h1 {
		font-size: 22rem;
		margin: 0;
	}
	
	p {
		font-size: 2.2rem;
		line-height: 1.8;
		font-style: italic;
		padding: 0 8rem;
	}

	.subtitle {
		font-style: italic;
		font-size: 4rem;
		font-weight: 700;
		margin-top: 0;
		padding: 0;
	}

}

// Feautured images  ---------------------------------
.artboard {
	width: 600px;
	height: 600px;
	margin:0 auto;
}

.featured-img img {
	border-radius: 50%;
	border: 9px solid white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

// Featured text  ---------------------------------
.featured-text {
	text-align: center;
	padding: 0 7em;
	
	p {
		margin-top: 1rem;
	}

	h2 {
		margin-bottom: 0;
	}

	h3 {
		font-style: italic;
		font-weight: 400;
		margin: 0.7rem 0;
	}
}

// SVG Animations ------------------------------------------------
.tracing {
	position: absolute;
}

.path-swan {
	animation: dash 6s linear forwards infinite;
	stroke-dashoffset: 4780;
  stroke-dasharray: 4780;
}

.path-rosetta {
  animation: dash 7s linear infinite;
  animation-direction: normal;
 	stroke-dashoffset: -5280;
  stroke-dasharray: 5280;
}

.path-heart {
	animation: dash 4s linear forwards infinite;
	stroke-dashoffset: 2810;
  stroke-dasharray: 2810;
}

.path-tulip {
	animation: dash 6s linear forwards infinite;
	stroke-dashoffset: 2580;
  stroke-dasharray: 2580;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.paused{
    -webkit-animation-play-state:paused;
    animation-play-state:paused;
}
 
// .resume {
// 	    animation-play-state:running;
// }